		*{
			padding: 0;
			margin: 0;
		}
		ul,li{
			list-style: none;
		}
		a{
			text-decoration: none;
			color: #000;
		}
		p{
			font-size: large;
			font-weight: normal;
			color: #000;
		}
		.ui-icon-lp{
			background: url(../images/laopo1.jpg) no-repeat;
			background-size: 100% 100%;
		}
		.ui-btn-icon-notext:after{
			background-color: rgba(255,255,255,0.07);
		}
		.ui-panel-wrapper{
			background-color: transparent!important;
		}
		#head1{
			height: 110px;
			background-color: #fff;
			color: #eb3e9e;
		}
		#select-5-button{
			background-color: transparent!important;
			border: none!important;
		}
		#mbx{
			height: 50px;
			width: 15%;
			background-color: transparent!important;
			border: none!important;
			float: left;
		}
		#mbx img{
			height: 100%;
			width: 100%;
		}
		#h1{
			height: 50px;
			width: 70%;
			float: left;
			text-align: center;
			line-height: 50px;
		}
		#h1 span{
			font-size: 25px;
			line-height: 50px;
		}
		#head_select{
			height: 50px;
			width: 15%;
			float: left;
		}
		#head_select img{
			margin-top: 8px;
			height: 70%;
			width: 70%;
		}
		.wrapper{
			height: 50px;
			position: relative;
			margin-top: 50px;
		}
		.wrapper .scroller{
			position: absolute;
		}
		#classList li{
			height: 50px;
			float: left;
			line-height: 50px;
			padding: 0 20px;
		}
		.cur{
			border-bottom:3px solid red;
		}
		#li01{
			background-color: #eb3e9e;
		}
		#li01 p{
			color: #fff;
			font-family: "微软雅黑";
			font-weight: normal;
		}
		.ui-bar-z{
			background-color: #eb3e9e;
			color: #fff;
			font-family: '楷体';
			font-weight: lighter;
		}
		#myPanel{
			/*background-color:#EB3E9E;*/
			text-align: center;
		}
		#panel_head a{
			height: 60px;
			width: 60px;
			margin-left: 35%;
		}
		#panel_content{
			margin-top: 20px
		}
		#panel_content ul a{
			background-color: transparent!important;
			border: none!important;
		}
		#panel_foot{
			margin-top:20px
		}
		.ui-content{
			padding: 0!important;
		}
		#content_search{
			width: 94%;
			margin-left: 3%;
		}
		#goodList li{
			width: 45.5%;
			float: left;
			margin: 0 0 1% 3%;
		}
		#good_imgs{
			height: 150px;
			width: 100%;
			overflow: hidden;
		}
		#good_imgs img{
			width: 100%;
		}
		#content_swiper{
			height: 40px;
			left: 0px;
		}
		#box{ 
			overflow:hidden;
		}
		#box_son{
			width:1000%; 
		}
		#box_son div{ 
			float:left;
			background-color: #EB3E9E;
		}
		#box1 ul{
			height:40px; 
		}
		#box1 ul li{
			float:left; 
			line-height:40px; 
			list-style:none;
			color: #fff;
			font-family: "微软雅黑";
		}